@import '../../style.scss';


.stories {
    display: flex;
    gap: 10px;
    height: 250px;
    margin-bottom: 30px;

    @include mobile480 {
        height: 50px;
        justify-content: space-between;
    }

    .story {
        flex: 1;
        overflow: hidden;
        border-radius: 10px;
        position: relative;

        @include mobile480 {
            border-radius: 50%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include mobile480 {
                flex: none;
                height: 50px;
                height: 50px;
            }
        }

        span {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: white;

            @include mobile480 {
                display: none;
            }
        }

        button {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 30px;
            height: 30px;
            background: rgb(103, 103, 225);
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 5px 10px 15px rgba(0, 0, 0, .7);
            font-size: 20px;
            line-height: 30px;
            @include mobile480 {
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}